.button {
  background-color: oldlace;
  border: 2px solid;
  border-radius: 10%;
  font-weight: bold;
  padding: .5em;
  margin: .25em;
}
.display {
  font-weight: bold;
  margin: .25em;
}
.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.green {
  background-color: green;
}
.label {
  font-weight: bold;
}
.lists {
  display: flex;
  padding: 1em;
  align-items: flex-start;
}
.navlist {
  padding: 0;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  list-style-type: none;
}

.navlist--item {
  margin: 5px;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
}

.red {
  background-color: red;
}

h1 {
  font-size: 1.6em;
  margin-top: 0;
  margin-bottom: 0;
}
h2 {
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 0;
}

